<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.repositoryconnector.ArtifactResolver plugin="repository-connector">
      <artifacts>
        <org.jvnet.hudson.plugins.repositoryconnector.Artifact>
          <artifactId>junit-jupiter</artifactId>
          <deployToRemote>true</deployToRemote>
          <failOnError>true</failOnError>
          <groupId>org.junit.jupiter</groupId>
          <targetFileName>jupiter/junit.jar</targetFileName>
          <version>5.7.0</version>
        </org.jvnet.hudson.plugins.repositoryconnector.Artifact>
      </artifacts>
      <enableRepositoryLogging>true</enableRepositoryLogging>
      <enableTransferLogging>false</enableTransferLogging>
      <repositoryId>central</repositoryId>
      <targetDirectory>target</targetDirectory>
    </org.jvnet.hudson.plugins.repositoryconnector.ArtifactResolver>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>